li {
    list-style-type: none;
}

.pages {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 75px;
    padding: 30px;
}

h1,
h2 {
    text-align: center;
}

.pages:hover {
    box-shadow: 0 5px 35px 0px rgba(66, 150, 167, 0.274);
}

.lecture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.lilInput,
.bigInput {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #ffffff;
    outline: none;
}

.practice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: none;
}

.myBtn {
    background: #16a085;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    height: 70px;
    width: 200px;
    text-decoration: none;
    transition: color .25s ease-in-out;
    border-style: none;
    margin-top: 20px;
}

.myBtn:hover {
    color: #f4f4f4;
}

.btnNext {
    display: none;
}

.lilInput {
    width: 25px;
}

.bigInput {
    width: 70px;
}

article {
    margin: 0 1em;
    padding: 0 40px;
    transition: transform .3s;
}

html {
    font-size: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    font: 1em 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}

main {
    max-width: 1024px;
    margin: 0 auto
}

.nav {
    width: 320px;
    min-width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -320px;
    padding: 15px 20px;
    transition: left 0.3s;
    background: #16a085;
    z-index: 2000;
}

.nav-toggle {
    position: absolute;
    left: 320px;
    top: 1em;
    padding: 0.5em;
    background: inherit;
    color: #dadada;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
    z-index: 2001;
    transition: color .25s ease-in-out;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}

.nav-toggle:hover {
    color: #f4f4f4;
}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}

[id='nav-toggle']:checked~.nav>.nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}

[id='nav-toggle']:checked~.nav {
    left: 0;
    box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

[id='nav-toggle']:checked~main>article {
    transform: translateX(320px);
}

[id='nav-toggle']:checked~.nav>.nav-toggle:after {
    content: '\2715';
}

.nav h2 {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
}

.nav h2 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}

[id='nav-toggle']:checked~.nav h2 {
    opacity: 1;
    transform: scale(1, 1);
}

.nav>ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav>ul>li {
    line-height: 2.5;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked~.nav>ul>li {
    opacity: 1;
    transform: translateX(0);
}

.nav>ul>li:nth-child(2) {
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav>ul>li:nth-child(3) {
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav>ul>li:nth-child(4) {
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav>ul>li:nth-child(5) {
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav>ul>li:nth-child(6) {
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav>ul>li:nth-child(7) {
    transition: opacity .5s .7s, transform .5s .7s;
}

.nav>ul>li>a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    transition: color .5s ease, padding .5s ease;
}

.nav>ul>li>a:hover,
.nav>ul>li>a:focus {
    color: white;
    padding-left: 15px;
}

.nav>ul>li>a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    transition: width 0s ease;
}

.nav>ul>li>a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #3bc1a0;
    transition: width .5s ease;
}

.nav>ul>li>a:hover:before {
    width: 0%;
    background: #3bc1a0;
    transition: width .5s ease;
}

.nav>ul>li>a:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}

@media screen and (min-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
    .nav {
        width: 100%;
        box-shadow: none
    }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);
* {
    box-sizing: border-box;
}


/* green #9ac48d
red #ffb3b1
pastel #f2e1b7
orange #fdae03 */